$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url('../img/background.jpg');
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background and text color
@mixin set-bg($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Buttons
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  margin-bottom: 0.3rem;

  &:hover {
    @include set-bg($secondary-color);
  }

  &__light {
    @extend .btn;
    @include set-bg(lighten($primary-color, 50));
  }

  &__dark {
    @extend .btn;
    @include set-bg(darken($primary-color, 50));
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
