@use 'config' as *;

.header {
  &__menu--btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 28px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include easeOut;

    &-line {
      width: 100%;
      height: 3px;
      background: #fff;
      position: relative;
      @include easeOut;

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
      }

      &::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
      }
    }

    &.open {
      transform: rotate(675deg);

      .header {
        &__menu--btn {
          &-line {
            background: transparent;

            &::before {
              top: 0;
              transform: rotate(90deg);
            }

            &::after {
              top: 0;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    visibility: hidden;

    &.show {
      visibility: visible;
    }

    &--branding,
    &--items {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &--items {
      background: rgba(darken($primary-color, 5), 0.9);
      margin: 0;
      padding: 0;
      list-style: none;
      transform: translateY(-100%);
      @include easeOut;

      &.show {
        transform: translateY(0);
      }
    }

    &--branding {
      background: rgba($primary-color, 0.9);
      transform: translateY(100%);
      @include easeOut;

      &.show {
        transform: translateY(0);
      }
    }

    &--portrait {
      width: 250px;
      height: 250px;
      background: url('../img/portrait.jpg');
      border-radius: 50%;
      border: 3px solid $secondary-color;
    }

    &--item {
      transform: translateX(600px);
      @include easeOut;

      &.show {
        transform: translateX(0);
      }
    }

    &--link {
      display: inline-block;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      @include easeOut;

      &.active,
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
