@use 'config' as *;

@include mediaXl {
}

@include mediaLg {
}

@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  .header {
    &__menu {
      grid-template-columns: 1fr;

      &--branding {
        height: 30vh;
        transform: translate(100%, 0);
      }

      &--portrait {
        background: url('../img/portrait_small.jpg');
        width: 150px;
        height: 150px;
      }

      &--items {
        height: 70vh;
        transform: translate(-100%, 0);
      }

      &--link {
        font-size: 1.875;
      }
    }
  }

  .about__info {
    grid-template-columns: 1fr;
    grid-template-areas:
      'bioimg'
      'bio'
      'job1'
      'job2'
      'job3';
  }
}

@include mediaSm {
  main {
    .lg-heading {
      font-size: 4rem;
    }

    &#home {
      h1 {
        margin-top: 5vh;
      }
    }
  }

  .header {
    &__menu {
      &--link {
        font-size: 1.5rem;
      }
    }
  }
}
